<div class="x-c">
  <div class="panel box box-success">
    <div class="box-header with-border">
      <h4 class="box-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Sobre
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="box-body">
          As Políticas Sociais são políticas públicas destinadas ao bem-estar geral da população, 
          mas com caráter distributivo, destinado principalmente às camadas de menor renda da sociedade, 
          em situação de pobreza ou pobreza extrema, visando principalmente o desenvolvimento econômico, 
          a eliminação da pobreza, a redução da desigualdade econômica e a redistribuição de riqueza e renda.
      </div>
    </div>
  </div>

  <div class="info-box info">
      <span class="info-box-icon bg-purple"><img src="../assets/img/uvv.jpg"></span>

      <div class="info-box-content">
        <span class="info-box-text"> <b> UVV </b>- Universidade <br>
        Vila Velha</span> 
      </div>
      <!-- /.info-box-content -->
  </div>
</div>