

  <div class="container to-adm">
    <div class="row">
        <div class="col-md-3"> 
  
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Postar </h3>
    
                  
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="javascript:void(0);" [routerLink]="['/admin/home-admin/noticiar']"><i class="fa fa-inbox"></i> Notícias
                      <span class="label label-primary pull-right">12</span></a></li>
                      <li><a href="javascript:void(0);"><i class="fa fa-trash-o"></i> Extensão </a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-envelope-o"></i> Pesquisas </a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-file-text-o"></i> Eventos </a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/admin/home-admin/publicar']"><i class="fa fa-filter"></i> Publicações <span class="label label-warning pull-right">65</span></a>
                    </li>
                    
                  </ul>
                </div>
                <!-- /.box-body -->
              </div>
            <!-- /. box --> 
            <!-- /.box -->
         </div>
         
         <router-outlet></router-outlet> 
      
    </div> 
</div>