 <!-- Profile Image -->
 <div class="box">
  <div class="box-body box-profile">
    <img class="profile-user-img img-responsive img-circle" src="../../../assets/img/user4-128x128.jpg" alt="User profile picture">
    <div class="form-group text-center" style="padding-top: 5px">
      <div class="btn btn-default btn-file">
        <i class="glyphicon glyphicon-camera"></i>
        <input type="file" name="attachment">
      </div> 
    </div>

    <h3 class="profile-username text-center">Nina Mcintire</h3>


    <form role="form">
      <div class="box-body form"> 
          <div class="input-group margin">
              <input type="text" class="form-control input-sm" placeholder="Nome"> 
          </div>

          <div class="input-group margin">
              <input type="text" class="form-control input-sm" placeholder="Email"> 
          </div>

          <div class="input-group margin">
              <input type="text" class="form-control input-sm" placeholder="Senha"> 
          </div>
          <div class="input-group margin">
              <input type="text" class="form-control input-sm" placeholder="Confirmar Senha"> 
          </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer text-right save">
          <button type="button" class="btn btn-block btn-success btn-flat">Salvar</button>
      </div>
    </form> 
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->