<div class="x-c">
    <div class="info-box">  
        <div class="box box-widget "> 
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                  <li><a href="javascript:void(0);" [routerLink]="['/noticias']"> <i class="fas fa-newspaper"></i> - Notícias <span class="pull-right badge bg-purple">22</span></a></li>
                <li><a href="javascript:void(0);" [routerLink]="['/projetos']"> <i class="fas fa-tasks"></i> - Extensão <span class="pull-right badge bg-blue">31</span></a></li>
                <li><a href="javascript:void(0);" [routerLink]="['/eventos']"> <i class="fas fa-calendar-week"></i> - Eventos <span class="pull-right badge bg-aqua">5</span></a></li> 
                <li><a href="javascript:void(0);" [routerLink]="['/pesquisas']"> <i class="fas fa-search"></i> - Pesquisas <span class="pull-right badge bg-green">14</span></a></li>
                <li><a href="javascript:void(0);" [routerLink]="['/areas']"> <i class="fas fa-chart-area"></i> - Publicações <span class="pull-right badge bg-red">18</span></a></li>
              </ul>
            </div>  
        </div>
    </div>
  
   <app-membros></app-membros>
  
    </div>