

<div class="box box-widget">
  <div class="box-header with-border">  
    <!-- /.box-header -->
    <div class="box-body">
      <!-- post text -->
      <ul class="products-list product-list-in-box">
        <li class="item">
          <div class="product-img">
            <img src="../../assets/img/events.gif" alt="Product Image">
          </div>
          <div class="product-info">
            <a href="javascript:void(0)" class="product-title">Seminário de Políticas Sociais
              <span class="label label-warning pull-right">08/12/2019</span></a>
              <div class="attachment-text">
                Description about the attachment can be placed here.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
              </div>
          </div>
        </li>
        <!-- /.item -->
        <li class="item">
          <div class="product-img">
            <img src="../../assets/img/events.gif" alt="Product Image">
          </div>
          <div class="product-info">
            <a href="javascript:void(0)" class="product-title"> Evento Social
              <span class="label label-info pull-right">15/08/2019</span></a>
              <div class="attachment-text">
                Description about the attachment can be placed here.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
              </div>
          </div>
        </li>
        <!-- /.item -->
        <li class="item">
          <div class="product-img">
            <img src="../../assets/img/events.gif" alt="Product Image">
          </div>
          <div class="product-info">
            <a href="javascript:void(0)" class="product-title"> Palestra x <span class="label label-danger pull-right"> 27/05/2019</span></a>
            <div class="attachment-text">
              Description about the attachment can be placed here.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
            </div>
          </div>
        </li>
        <!-- /.item -->
        <li class="item">
          <div class="product-img">
            <img src="../../assets/img/events.gif" alt="Product Image">
          </div>
          <div class="product-info">
            <a href="javascript:void(0)" class="product-title"> Palestra política
              <span class="label label-success pull-right"> 06/06/2019</span></a>
              <div class="attachment-text">
                Description about the attachment can be placed here.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
              </div>
          </div>
        </li>
        <!-- /.item -->
      </ul>
    </div>
      </div>
    <!-- /.box-footer -->
  </div>

  <div class="box box-widget">
      <div class="box-header with-border">
          
      <!-- /.box-header -->
      <div class="box-body">
        <!-- post text -->
        <p>Far far away, behind the word mountains, far from the
          countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at</p>
 

        <!-- Attachment -->
        <div class="attachment-block clearfix">
          <img class="attachment-img" src="../../assets/img/ecology.jpg" alt="Attachment Image">

          <div class="attachment-pushed">
            <h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>

            <div class="attachment-text">
              Description about the attachment can be placed here.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
            </div>
            <!-- /.attachment-text -->
          </div>
          <!-- /.attachment-pushed -->
        </div> 
      </div>
      </div>
      <!-- /.box-footer -->
    </div> 